.container {
    max-width: 1500px;
    padding: 0 15px;
  }
  
  .header {
    background-color: #2B3A42;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .header-link {
    text-decoration: none; /* Rimuove il sottolineato predefinito del link */
    color: inherit; /* Mantiene il colore originale del testo */
  }
  
  .header-link:hover {
    opacity: 0.8; /* Aggiunge un effetto hover */
  }