<div class="about-container">
    <h1 class="about-title">Chi Siamo</h1>
    <div class="about-content">
      <p>
        <strong>Realizzato da:</strong> Tommaso Benedetto<br>
        Laureando in Ing. Informatica e dell'Automazione presso il Politecnico di Bari.
      </p>
      <p>
        <strong>LinkedIn:</strong> 
        <a href="https://www.linkedin.com/in/tommaso-benedetto-44ba5b2a8/" target="_blank"> <!--_blank per aprire il link in una nuova scheda-->
          Profilo LinkedIn
        </a>
      </p>
      <p>
        <strong>Tecnologie e linguaggi utilizzati:</strong>
      </p>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Angular</li>
        <li>Open Meteo (chiamate API)</li>
        <li>Chart.js + Plugin Datalabels</li>
        <li>Weather Icons (erik_flowers)</li>
      </ul>
      <p>
        <strong>Curiositá: </strong>
        <a href="https://it.wikipedia.org/wiki/Null_Island" target="_blank">
          Null Island 
        </a>
      </p>
    </div>
  </div>