.weather-component-container {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    max-width: 100%;
    /* padding: 0 10px; Aggiungi padding per allineare meglio con gli altri elementi */
}

.dayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background-image: url('../../assets/images/meteo_1200x675.jpg');
    background-size: cover;
    margin: 0 auto; /* Centratura delle card */
    padding: 10px 10px; /* Aggiunta di padding per allineare meglio le card */
    box-sizing: border-box; /* Assicura che il padding sia incluso nelle dimensioni totali */
    width: 100%; /* Assicurati che il contenitore occupi l'intera larghezza disponibile */
}

/* Pulsante di selezione giorno */
.daySelector {
    flex: 1 1 calc(14.28% - 20px); /* Calcola la larghezza delle card in base a 7 colonne meno il gap */
    max-width: calc(14.28% - 20px); /* Imposta una larghezza massima per evitare che le card siano troppo larghe */
    aspect-ratio: 1 / 1.5; /* Mantieni il rapporto base:altezza */
    margin: 0 auto; /* Centra le card */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* Colore bianco con trasparenza */
    backdrop-filter: blur(10px); /* Effetto vetro smerigliato */
    -webkit-backdrop-filter: blur(10px); /* Supporto per Safari */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Bordo semi-trasparente */
    box-sizing: border-box; /* Include padding e bordi nella dimensione totale */
}

.daySelector .date-text,
.daySelector .temperature-text {
    display: block;
    font-weight: bold; /* Testo in grassetto */
    font-size: 1.5rem; /* Aumenta la dimensione del testo */
    text-align: center;
    margin: 30px 0; /* Aggiungi rientro verticale */
}

.daySelector .icon {
    font-size: 5rem; /* Ingrandisci l'icona centrale */
    margin: 5px 0; /* Riduci il margine sopra e sotto l'icona */
}

/* Stile per il pulsante selezionato */
.daySelector.selected {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

/* Hover effect */
.daySelector:hover {
    cursor: pointer;
    background-color: #d0d0d0;
}

/* Dettagli del giorno selezionato */
.dayDetails {
    grid-row: 3;
    font-size: 1.5rem;
    size: 95%;
    grid-column: span 7;
    align-content: center;
    justify-content: center;
    padding: 10px;
    background-color: #f9f9f9;
}

.dayDetails canvas {
    min-width: 100%; /* Imposta una larghezza massima per evitare che il canvas diventi troppo largo */
    max-height: 400px; /* Imposta un'altezza massima per evitare che diventi troppo alto */
    padding-top: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Stile per la barra di selezione del tipo di dato del grafico */
.dataTypeSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(31 70 82);
    backdrop-filter: blur(10px);
    width: 100%; /* Assicura che la barra si allinei con il contenitore delle card */
    box-sizing: border-box; /* Include padding e bordi nella dimensione totale */
    height: 4.8em;
}

.dataTypeSelection label {
    font-size: 1.2rem; /* Dimensione del testo leggermente aumentata */
    font-weight: bold; /* Testo in grassetto */
    color: #ffffff; /* Colore del testo in armonia con lo schema di colori */
    margin-right: 10px; /* Spaziatura tra label e select box */
}

.dataTypeSelection select {
    font-size: 1rem; /* Dimensione del testo */
    padding: 5px 10px; /* Spaziatura interna per il select */
    border-radius: 5px; /* Angoli arrotondati */
    border: 1px solid #1F4652; /* Bordo in armonia con lo schema di colori */
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo bianco leggermente trasparente */
    color: #1F4652; /* Colore del testo */
    font-weight: bold; /* Testo in grassetto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
}

.dataTypeSelection select:focus {
    outline: none; /* Rimuove il bordo di focus standard */
    border-color: #4CAF50; /* Cambia il colore del bordo al focus */
}

/* Stile per la fascia icone/orario prima del grafico */
.hourly-weather-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Aggiungi uno spazio tra le icone e il grafico */
}

.hourly-icon-container {
    text-align: center;
    flex: 1; /* Assicura che le icone siano distribuite equamente */
}

.hourly-icon i {
    font-size: 24px; /* Dimensione dell'icona */
    color: #1f4652; /* Colore dell'icona */
}

.hourly-time {
    font-size: 12px; /* Dimensione del testo dell'ora */
    color: #333; /* Colore del testo dell'ora */
    margin-top: 5px;
}

