<ng-container class="wetaher-component-container" *ngIf="dailyWeatherData.length">
  <ng-container *ngIf="dailyWeatherData.length">
    <div class="dayContainer">
      <button *ngFor="let day of dailyWeatherData; let i = index" class="daySelector" (click)="selectDay(i)"
        [class.selected]="selectedDayIndex === i">
        <span class="date-text">{{ day.date | date: 'EEE dd' }}</span>
        <div class="icon">
          <i [class]="'wi ' + severeWeatherClass[i]"></i>
        </div>
        <span class="temperature-text">{{ maxMin[i] }}</span>
      </button>
    </div>
  </ng-container>


  <div class="dayDetails" *ngIf="selectedDayIndex !== null">
    <!-- inserisci il grafico qui  -->
    <canvas baseChart [data]="lineChart" [options]="lineChartOptions" [type]="'line'"></canvas>
    <!---->
  </div>
</ng-container>

<!-- 

<ul>
      <li *ngFor="let hour of dailyWeatherData[selectedDayIndex].hourlyData; let j = index">
        <i [class]="'wi ' + dailyWeatherClasses[selectedDayIndex][j]"> </i>
        {{ hour.dateTime | date: 'HH:mm' }} -
        Temp: {{ hour.temperature2m }}°C,
        Umidità: {{ hour.relativeHumidity2m }}%,
        Temp Percepita: {{ hour.apparentTemperature }}°C,
        Prob Pioggia: {{ hour.precipitationProbability }}%,
        Vento: {{ hour.windSpeed10m }} km/h
      </li>
    </ul>

-->