<div class="searchBarContainer">
  <form [formGroup]="searchForm">
    <input class="search-input" formControlName="cityName" placeholder="Cerca la tua cittá" type="text">
  </form>

  <div *ngIf="cities.length > 0">
    <h3>Scegli una cittá:</h3>
    <ul>
      <li *ngFor="let city of cities">
        <button class="citySelection" (click)="onSelectCity(city)">
          <span class="info-city">{{city.name}}, {{city.country_code}}, {{city.admin1}}</span>
        </button>
      </li>
    </ul>
  </div>
</div>