<div class="searchBarContainer">
  <form [formGroup]="searchForm">
    <input class="search-input" formControlName="cityName" placeholder="Cerca la tua cittá.. (ora Null Island)" type="text">
  </form>

  <div class="autocomplete-city" *ngIf="cities.length > 0">
    <ul>
      <li *ngFor="let city of cities">
        <div class="size-btn-atuocomplete">
        <button class="citySelection" (click)="onSelectCity(city)">
          <span class="info-city">{{city.name}}, {{city.country_code}}, {{city.admin1}}</span>
        </button>
      </div>
      </li>
    </ul>
  </div>
</div>