    .app-container {
        display: flex;
        justify-content: center;
        height: 100vh; /* Assicurati che l'altezza totale sia 100% della viewport */
        padding-left: 1rem;  /* Puoi usare valori in px, rem o % a seconda delle tue esigenze */
        padding-right: 1rem;
        
    }

    .content-container {
        max-width: 1500px; /* Imposta una larghezza massima per il contenuto */
        width: 100%; /* Occupa tutta la larghezza disponibile */
    }

    app-search-bar, app-weather {
        width: 100%; /* Assicurati che i componenti occupino tutta la larghezza del container */
    }
