.app-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh; /* Assicurati che l'altezza totale sia 100% della viewport */
}

.spacer-dx, .spacer-sx {
    background-color: rgb(255, 255, 255);
}

.spacer-dx {
    grid-row: 1 / span 3;
    grid-column: 3;
}

.spacer-sx {
    grid-row: 1 / span 3;
    grid-column: 1;
}

app-search-bar, app-weather {
    grid-column: 2;
}